[submodule "third_party/ComfyUI-DLSS5-Enhancer"]
	path = third_party/ComfyUI-DLSS5-Enhancer
	url = https://github.com/Blueforcer/ComfyUI-DLSS5-Enhancer.git
[submodule "third_party/Nvidia_RTX_Nodes_ComfyUI"]
	path = third_party/Nvidia_RTX_Nodes_ComfyUI
	url = https://github.com/Comfy-Org/Nvidia_RTX_Nodes_ComfyUI.git
[submodule "third_party/dlss5-visual-enhancer"]
	path = third_party/dlss5-visual-enhancer
	url = https://github.com/Merserk/dlss5-visual-enhancer.git
